In [4]:
#not required
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

#Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [59]:
transaction_df = spark.read.csv(r"C:\Users\Raveen\Downloads\1000-BT-Records\1000 BT Records.csv",sep=',',inferSchema = True, header = True)

In [60]:
transaction_df.show(n=10)

+-----------+-----------+------------+----------+------------+
|       Date|Description|    Deposits|Withdrawls|     Balance|
+-----------+-----------+------------+----------+------------+
|20-Aug-2020|     Cheque|    3,391.02|     00.00|   83,839.30|
|20-Aug-2020|        ATM|  147,844.20|     00.00|  231,683.50|
|20-Aug-2020|       IMPS|   17,192.00|     00.00|  248,875.50|
|21-Aug-2020|   Transfer|       08.00|     00.00|  248,883.50|
|21-Aug-2020|   Purchase|       00.00| 82,961.17|  165,922.33|
|21-Aug-2020|        Tax|   24,459.40|     00.00|  190,381.73|
|21-Aug-2020|   Reversal|       00.00| 19,038.17|  171,343.56|
|21-Aug-2020| Commission|  305,878.00|     00.00|  477,221.56|
|21-Aug-2020|   Reversal|1,144,337.80|     00.00|1,621,559.36|
|21-Aug-2020|   Interest|       00.00|405,389.84|1,216,169.52|
+-----------+-----------+------------+----------+------------+
only showing top 10 rows

In [8]:
transaction_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Deposits: string (nullable = true)
 |-- Withdrawls: string (nullable = true)
 |-- Balance: string (nullable = true)

In [20]:
cheque_df = transaction_df.filter((transaction_df.Description == "Cheque"))

In [12]:
transaction_df.where(transaction_df.Description == "Cheque").count()

70

In [21]:
cheque_df.show()

+-----------+-----------+----------+------------+------------+
|       Date|Description|  Deposits|  Withdrawls|     Balance|
+-----------+-----------+----------+------------+------------+
|20-Aug-2020|     Cheque|  3,391.02|       00.00|   83,839.30|
|22-Aug-2020|     Cheque|     04.90|       00.00|    4,036.50|
|23-Aug-2020|     Cheque|     00.00|   51,683.69|  413,469.50|
|23-Aug-2020|     Cheque|  2,952.00|       00.00|  264,750.85|
|23-Aug-2020|     Cheque|    429.53|       00.00|  626,223.11|
|23-Aug-2020|     Cheque|     00.00|  440,696.14|1,322,088.40|
|24-Aug-2020|     Cheque| 21,261.31|       00.00|  109,584.81|
|25-Aug-2020|     Cheque|     00.00|       00.01|       00.06|
|25-Aug-2020|     Cheque|     19.70|       00.00|       19.76|
|26-Aug-2020|     Cheque|     00.00|  306,731.39|  613,462.77|
|26-Aug-2020|     Cheque|  1,377.60|       00.00|2,476,290.70|
|27-Aug-2020|     Cheque|     04.00|       00.00|       04.00|
|29-Aug-2020|     Cheque|  1,980.76|       00.00|   30,545.36|
|29-Aug-2020|     Cheque|     00.00|1,339,526.83|       00.00|
|31-Aug-2020|     Cheque|     00.00|  221,321.39|  885,285.57|
|31-Aug-2020|     Cheque|  2,267.40|       00.00|2,889,958.27|
|01-Sep-2020|     Cheque|154,027.00|       00.00|1,138,339.33|
|01-Sep-2020|     Cheque|     00.00|  249,310.54|  498,621.08|
|02-Sep-2020|     Cheque|  2,025.80|       00.00|  132,094.79|
|05-Sep-2020|     Cheque|     00.00|   32,241.92|  193,451.53|
+-----------+-----------+----------+------------+------------+
only showing top 20 rows

In [26]:
cheque_df = cheque_df.withColumn('id',lit('0'))

In [31]:
df1 = cheque_df.select('Date','Deposits')

In [34]:
df1.where(df1.Date == '20-Aug-2020').show()

+-----------+--------+
|       Date|Deposits|
+-----------+--------+
|20-Aug-2020|3,391.02|
+-----------+--------+

In [35]:
cheque_df.select('Date','Deposits').where(df1.Date == '20-Aug-2020').show()

+-----------+--------+
|       Date|Deposits|
+-----------+--------+
|20-Aug-2020|3,391.02|
+-----------+--------+

In [36]:
transaction_df.show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [37]:
transaction_df = transaction_df.withColumn('Description',trim(transaction_df.Description))

In [38]:
transaction_df.show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [39]:
print("hello")

hello

In [50]:
help(transaction_df.dropDuplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset=None) method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` with duplicate rows removed,
    optionally only considering certain columns.

    For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
    :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
    duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
    be and system will accordingly limit the state. In addition, too late data older than
    watermark will be dropped to avoid any possibility of duplicates.

    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4.0

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> df = sc.parallelize([ \
    ...     Row(name='Alice', age=5, height=80), \
    ...     Row(name='Alice', age=5, height=80), \
    ...     Row(name='Alice', age=10, height=80)]).toDF()
    >>> df.dropDuplicates().show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    |Alice| 10|    80|
    +-----+---+------+

    >>> df.dropDuplicates(['name', 'height']).show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    +-----+---+------+

In [56]:
transaction_df1 = transaction_df

In [58]:
transaction_df1.dropDuplicates(['Withdrawls']).count()

441