In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

#Creating sparkSession
spark = SparkSession.builder.appName('Day_1_task').getOrCreate()

In [2]:
#mentioning the path which we need to open(read)
trans_df = spark.read.csv(r"C:\Users\mohan\OneDrive\Desktop\Spark_Self_Notes\Day_1_sample_By_Praveen.csv",sep = ',',inferSchema = True, header = True)

In [3]:
#To see the content
trans_df.show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [4]:
#Task_1=====> triming the all columns dynamically
#here we have used withColumn with that we can access all the columns of the table
trans_df = trans_df.withColumn('Date',trim(trans_df.Date))

In [6]:
trans_df = trans_df.withColumn('Description',trim(trans_df.Description))

In [7]:
trans_df = trans_df.withColumn('Deposits',trim(trans_df.Deposits))

In [9]:
trans_df = trans_df.withColumn('Withdrawls',trim(trans_df.Withdrawls))

In [10]:
trans_df = trans_df.withColumn('Balance',trim(trans_df.Balance))

In [11]:
trans_df.show()

+-----------+-------------+------------+------------+------------+
|       Date|  Description|    Deposits|  Withdrawls|     Balance|
+-----------+-------------+------------+------------+------------+
|20-Aug-2020|       Cheque|    3,391.02|       00.00|   83,839.30|
|20-Aug-2020|          ATM|  147,844.20|       00.00|  231,683.50|
|20-Aug-2020|         IMPS|   17,192.00|       00.00|  248,875.50|
|21-Aug-2020|     Transfer|       08.00|       00.00|  248,883.50|
|21-Aug-2020|     Purchase|       00.00|   82,961.17|  165,922.33|
|21-Aug-2020|          Tax|   24,459.40|       00.00|  190,381.73|
|21-Aug-2020|     Reversal|       00.00|   19,038.17|  171,343.56|
|21-Aug-2020|   Commission|  305,878.00|       00.00|  477,221.56|
|21-Aug-2020|     Reversal|1,144,337.80|       00.00|1,621,559.36|
|21-Aug-2020|     Interest|       00.00|  405,389.84|1,216,169.52|
|21-Aug-2020|   Commission|       33.08|       00.00|1,216,202.60|
|21-Aug-2020|   Commission|   20,014.02|       00.00|1,236,216.62|
|21-Aug-2020|          ATM|       00.00|1,236,216.62|       00.00|
|22-Aug-2020|         Cash|    4,031.60|       00.00|    4,031.60|
|22-Aug-2020|       Cheque|       04.90|       00.00|    4,036.50|
|22-Aug-2020|Miscellaneous|      488.61|       00.00|    4,525.11|
|22-Aug-2020|     Interest|  667,800.00|       00.00|  672,325.11|
|22-Aug-2020|     Reversal|       00.00|  112,054.19|  560,270.93|
|22-Aug-2020|     Purchase|  162,939.70|       00.00|  723,210.63|
|22-Aug-2020|     Interest|      361.00|       00.00|  723,571.63|
+-----------+-------------+------------+------------+------------+
only showing top 20 rows

In [12]:
#task_2 prepare reporting dataframe for all kind of decription
#here we use where to access the elements of the description column
#we can even use filter to get the required data from the table
#This is for cheque transactions
cheque_df = trans_df.filter(trans_df.Description == 'Cheque')

In [13]:
#Here we use count to get the count of the particular elements
cheque_df.count()

70

In [14]:
#This is for ATM transactions
atm_df = trans_df.filter(trans_df.Description == 'ATM')

In [15]:
atm_df.count()

64

In [16]:
#This is for IMPS transactions
imps_df = trans_df.filter(trans_df.Description == 'IMPS')

In [17]:
imps_df.count()

65

In [18]:
#This is for Transfer transactions
transfer_df = trans_df.filter(trans_df.Description == 'Transfer')

In [19]:
transfer_df.count()

69

In [20]:
#This is for Purchase transactions
purchase_df = trans_df.filter(trans_df.Description == 'Purchase')

In [21]:
purchase_df.count()

65

In [22]:
#This is for Tax transactions
tax_df = trans_df.filter(trans_df.Description == 'Tax')

In [23]:
tax_df.count()

63

In [24]:
#This is for Reversal transactions
reversal_df = trans_df.filter(trans_df.Description == 'Reversal')

In [25]:
reversal_df.count()

69

In [26]:
#This is for Commission transactions
commission_df = trans_df.filter(trans_df.Description == 'Commission')

In [27]:
commission_df.count()

58

In [28]:
#This is for Interest transactions
interest_df = trans_df.filter(trans_df.Description == 'Interest')

In [29]:
interest_df.count()

69

In [30]:
#This is for Miscellaneous transactions
miscellaneous_df = trans_df.filter(trans_df.Description == 'Miscellaneous')

In [31]:
miscellaneous_df.count()

59

In [ ]:
#if we want to print or show each table we just need to use show() after every varibale name
#using that we can display all the data