<a href="https://colab.research.google.com/github/Mohann23/PySpark_Material_Practice/blob/master/Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

!apt-get install openjdk-8-jdk-headless -qq > /dev/null


!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz



!tar xf spark-3.2.1-bin-hadoop3.2.tgz

!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()

findspark.find()
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

Mounted at /content/drive

In [2]:
spark = SparkSession.builder.appName('Joins').getOrCreate()

In [3]:
join_1_df = spark.read.csv('/content/drive/MyDrive/PYSpark_Files/join_table.csv',inferSchema=True,header=True)

In [4]:
join_1_df.show()

+---+-------+----------+----------+------+------+
| Id| Period|Data_value|Suppressed|STATUS| UNITS|
+---+-------+----------+----------+------+------+
|  1|2011.06|     80078|      null|     F|Number|
|  2|2011.09|     78324|      null|     F|Number|
|  3|2011.12|     85850|      null|     F|Number|
|  4|2012.03|     90743|      null|     F|Number|
|  5|2012.06|     81780|      null|     F|Number|
|  6|2012.09|     79261|      null|     F|Number|
|  7|2012.12|     87793|      null|     F|Number|
|  8|2013.03|     91571|      null|     F|Number|
|  9|2013.06|     81687|      null|     F|Number|
| 10|2013.09|     81471|      null|     F|Number|
| 11|2013.12|     93950|      null|     F|Number|
| 12|2014.03|     97208|      null|     F|Number|
| 13|2014.06|     85879|      null|     F|Number|
| 14|2014.09|     84447|      null|     F|Number|
+---+-------+----------+----------+------+------+

In [5]:
join_2_df = spark.read.csv('/content/drive/MyDrive/PYSpark_Files/join_table2.csv',inferSchema=True,header=True)

In [6]:
join_2_df.show()

+---+-----+----+------------------+
| Id| Year| Age|              Name|
+---+-----+----+------------------+
|  1| 1928|  22|      Janet Gaynor|
|  2| 1929|  37|     Mary Pickford|
|  3| 1930|  28|     Norma Shearer|
|  4| 1931|  63|    Marie Dressler|
|  5| 1932|  32|       Helen Hayes|
|  6| 1933|  26| Katharine Hepburn|
|  7| 1934|  31| Claudette Colbert|
|  8| 1935|  27|       Bette Davis|
|  9| 1936|  27|      Luise Rainer|
| 10| 1937|  28|      Luise Rainer|
| 11| 1938|  30|       Bette Davis|
| 12| 1939|  26|      Vivien Leigh|
| 13| 1940|  29|     Ginger Rogers|
| 14| 1941|  24|     Joan Fontaine|
+---+-----+----+------------------+

In [7]:
join_1_df.join(join_2_df,join_1_df.Id==join_2_df.Id,'inner').show()

+---+-------+----------+----------+------+------+---+-----+----+------------------+
| Id| Period|Data_value|Suppressed|STATUS| UNITS| Id| Year| Age|              Name|
+---+-------+----------+----------+------+------+---+-----+----+------------------+
|  1|2011.06|     80078|      null|     F|Number|  1| 1928|  22|      Janet Gaynor|
|  2|2011.09|     78324|      null|     F|Number|  2| 1929|  37|     Mary Pickford|
|  3|2011.12|     85850|      null|     F|Number|  3| 1930|  28|     Norma Shearer|
|  4|2012.03|     90743|      null|     F|Number|  4| 1931|  63|    Marie Dressler|
|  5|2012.06|     81780|      null|     F|Number|  5| 1932|  32|       Helen Hayes|
|  6|2012.09|     79261|      null|     F|Number|  6| 1933|  26| Katharine Hepburn|
|  7|2012.12|     87793|      null|     F|Number|  7| 1934|  31| Claudette Colbert|
|  8|2013.03|     91571|      null|     F|Number|  8| 1935|  27|       Bette Davis|
|  9|2013.06|     81687|      null|     F|Number|  9| 1936|  27|      Luise Rainer|
| 10|2013.09|     81471|      null|     F|Number| 10| 1937|  28|      Luise Rainer|
| 11|2013.12|     93950|      null|     F|Number| 11| 1938|  30|       Bette Davis|
| 12|2014.03|     97208|      null|     F|Number| 12| 1939|  26|      Vivien Leigh|
| 13|2014.06|     85879|      null|     F|Number| 13| 1940|  29|     Ginger Rogers|
| 14|2014.09|     84447|      null|     F|Number| 14| 1941|  24|     Joan Fontaine|
+---+-------+----------+----------+------+------+---+-----+----+------------------+

In [9]:
join_1_df.join(join_2_df,join_1_df.Id==join_2_df.Id,'cross').show()

+---+-------+----------+----------+------+------+---+-----+----+------------------+
| Id| Period|Data_value|Suppressed|STATUS| UNITS| Id| Year| Age|              Name|
+---+-------+----------+----------+------+------+---+-----+----+------------------+
|  1|2011.06|     80078|      null|     F|Number|  1| 1928|  22|      Janet Gaynor|
|  2|2011.09|     78324|      null|     F|Number|  2| 1929|  37|     Mary Pickford|
|  3|2011.12|     85850|      null|     F|Number|  3| 1930|  28|     Norma Shearer|
|  4|2012.03|     90743|      null|     F|Number|  4| 1931|  63|    Marie Dressler|
|  5|2012.06|     81780|      null|     F|Number|  5| 1932|  32|       Helen Hayes|
|  6|2012.09|     79261|      null|     F|Number|  6| 1933|  26| Katharine Hepburn|
|  7|2012.12|     87793|      null|     F|Number|  7| 1934|  31| Claudette Colbert|
|  8|2013.03|     91571|      null|     F|Number|  8| 1935|  27|       Bette Davis|
|  9|2013.06|     81687|      null|     F|Number|  9| 1936|  27|      Luise Rainer|
| 10|2013.09|     81471|      null|     F|Number| 10| 1937|  28|      Luise Rainer|
| 11|2013.12|     93950|      null|     F|Number| 11| 1938|  30|       Bette Davis|
| 12|2014.03|     97208|      null|     F|Number| 12| 1939|  26|      Vivien Leigh|
| 13|2014.06|     85879|      null|     F|Number| 13| 1940|  29|     Ginger Rogers|
| 14|2014.09|     84447|      null|     F|Number| 14| 1941|  24|     Joan Fontaine|
+---+-------+----------+----------+------+------+---+-----+----+------------------+

In [10]:
join_1_df.join(join_2_df,join_1_df.Id==join_2_df.Id,'outer').show()

+---+-------+----------+----------+------+------+---+-----+----+------------------+
| Id| Period|Data_value|Suppressed|STATUS| UNITS| Id| Year| Age|              Name|
+---+-------+----------+----------+------+------+---+-----+----+------------------+
|  1|2011.06|     80078|      null|     F|Number|  1| 1928|  22|      Janet Gaynor|
|  2|2011.09|     78324|      null|     F|Number|  2| 1929|  37|     Mary Pickford|
|  3|2011.12|     85850|      null|     F|Number|  3| 1930|  28|     Norma Shearer|
|  4|2012.03|     90743|      null|     F|Number|  4| 1931|  63|    Marie Dressler|
|  5|2012.06|     81780|      null|     F|Number|  5| 1932|  32|       Helen Hayes|
|  6|2012.09|     79261|      null|     F|Number|  6| 1933|  26| Katharine Hepburn|
|  7|2012.12|     87793|      null|     F|Number|  7| 1934|  31| Claudette Colbert|
|  8|2013.03|     91571|      null|     F|Number|  8| 1935|  27|       Bette Davis|
|  9|2013.06|     81687|      null|     F|Number|  9| 1936|  27|      Luise Rainer|
| 10|2013.09|     81471|      null|     F|Number| 10| 1937|  28|      Luise Rainer|
| 11|2013.12|     93950|      null|     F|Number| 11| 1938|  30|       Bette Davis|
| 12|2014.03|     97208|      null|     F|Number| 12| 1939|  26|      Vivien Leigh|
| 13|2014.06|     85879|      null|     F|Number| 13| 1940|  29|     Ginger Rogers|
| 14|2014.09|     84447|      null|     F|Number| 14| 1941|  24|     Joan Fontaine|
+---+-------+----------+----------+------+------+---+-----+----+------------------+

In [11]:
join_1_df.join(join_2_df,join_1_df.Id==join_2_df.Id,'full').show()

+---+-------+----------+----------+------+------+---+-----+----+------------------+
| Id| Period|Data_value|Suppressed|STATUS| UNITS| Id| Year| Age|              Name|
+---+-------+----------+----------+------+------+---+-----+----+------------------+
|  1|2011.06|     80078|      null|     F|Number|  1| 1928|  22|      Janet Gaynor|
|  2|2011.09|     78324|      null|     F|Number|  2| 1929|  37|     Mary Pickford|
|  3|2011.12|     85850|      null|     F|Number|  3| 1930|  28|     Norma Shearer|
|  4|2012.03|     90743|      null|     F|Number|  4| 1931|  63|    Marie Dressler|
|  5|2012.06|     81780|      null|     F|Number|  5| 1932|  32|       Helen Hayes|
|  6|2012.09|     79261|      null|     F|Number|  6| 1933|  26| Katharine Hepburn|
|  7|2012.12|     87793|      null|     F|Number|  7| 1934|  31| Claudette Colbert|
|  8|2013.03|     91571|      null|     F|Number|  8| 1935|  27|       Bette Davis|
|  9|2013.06|     81687|      null|     F|Number|  9| 1936|  27|      Luise Rainer|
| 10|2013.09|     81471|      null|     F|Number| 10| 1937|  28|      Luise Rainer|
| 11|2013.12|     93950|      null|     F|Number| 11| 1938|  30|       Bette Davis|
| 12|2014.03|     97208|      null|     F|Number| 12| 1939|  26|      Vivien Leigh|
| 13|2014.06|     85879|      null|     F|Number| 13| 1940|  29|     Ginger Rogers|
| 14|2014.09|     84447|      null|     F|Number| 14| 1941|  24|     Joan Fontaine|
+---+-------+----------+----------+------+------+---+-----+----+------------------+

In [12]:
join_1_df.join(join_2_df,join_1_df.Id==join_2_df.Id,'fullouter').show()

+---+-------+----------+----------+------+------+---+-----+----+------------------+
| Id| Period|Data_value|Suppressed|STATUS| UNITS| Id| Year| Age|              Name|
+---+-------+----------+----------+------+------+---+-----+----+------------------+
|  1|2011.06|     80078|      null|     F|Number|  1| 1928|  22|      Janet Gaynor|
|  2|2011.09|     78324|      null|     F|Number|  2| 1929|  37|     Mary Pickford|
|  3|2011.12|     85850|      null|     F|Number|  3| 1930|  28|     Norma Shearer|
|  4|2012.03|     90743|      null|     F|Number|  4| 1931|  63|    Marie Dressler|
|  5|2012.06|     81780|      null|     F|Number|  5| 1932|  32|       Helen Hayes|
|  6|2012.09|     79261|      null|     F|Number|  6| 1933|  26| Katharine Hepburn|
|  7|2012.12|     87793|      null|     F|Number|  7| 1934|  31| Claudette Colbert|
|  8|2013.03|     91571|      null|     F|Number|  8| 1935|  27|       Bette Davis|
|  9|2013.06|     81687|      null|     F|Number|  9| 1936|  27|      Luise Rainer|
| 10|2013.09|     81471|      null|     F|Number| 10| 1937|  28|      Luise Rainer|
| 11|2013.12|     93950|      null|     F|Number| 11| 1938|  30|       Bette Davis|
| 12|2014.03|     97208|      null|     F|Number| 12| 1939|  26|      Vivien Leigh|
| 13|2014.06|     85879|      null|     F|Number| 13| 1940|  29|     Ginger Rogers|
| 14|2014.09|     84447|      null|     F|Number| 14| 1941|  24|     Joan Fontaine|
+---+-------+----------+----------+------+------+---+-----+----+------------------+

inner, cross, outer,
full, fullouter, full_outer, left, leftouter, left_outer,
right, rightouter, right_outer, semi, leftsemi, left_semi,
anti, leftanti and left_anti.