<a href="https://colab.research.google.com/github/Mohann23/PySpark_Material_Practice/blob/master/Task_3_by_praveen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from google.colab import drive
drive.mount('/content/drive')

!apt-get install openjdk-8-jdk-headless -qq > /dev/null


!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz



!tar xf spark-3.2.1-bin-hadoop3.2.tgz

!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()

findspark.find()
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
spark = SparkSession.builder.appName('Day_3_task').getOrCreate()

In [4]:
task_df = spark.read.csv('/content/drive/MyDrive/PYSpark_Files/Day_3_task_3_File.csv', inferSchema = True, header = True)

In [5]:
task_df.show()

+------+----------------+----------+------+-----------+
|userid|         emailid|      date|amount|   discount|
+------+----------------+----------+------+-----------+
|     1| test1@gmail.com|01-01-2019|   100|        1.0|
|     2| test2@gmail.com|02-01-2019|   100|        1.0|
|     3| test3@gmail.com|03-01-2019|   101|        2.0|
|     4| test4@gmail.com|04-01-2019|   102|       10.0|
|     5| test5@gmail.com|05-01-2019| 102.5|        2.0|
|     6| test6@gmail.com|06-01-2019| 103.2|        1.0|
|     7| test7@gmail.com|07-01-2019| 103.9|        3.0|
|     8| test8@gmail.com|08-01-2019| 104.6|        5.0|
|     9| test9@gmail.com|09-01-2019| 105.3|4.571428571|
|    10|test10@gmail.com|10-01-2019|   106|4.892857143|
|    11|test11@gmail.com|11-01-2019| 106.7|5.214285714|
|    12|test12@gmail.com|12-01-2019| 107.4|5.535714286|
|    13|test13@gmail.com|13-01-2019| 108.1|5.857142857|
|    14|test14@gmail.com|14-01-2019| 108.8|6.178571429|
|    15|test15@gmail.com|15-01-2019| 109.5|        6.5|
|    16|test16@gmail.com|16-01-2019| 110.2|6.821428571|
|    17|test17@gmail.com|17-01-2019| 110.9|7.142857143|
|    18|test18@gmail.com|18-01-2019| 111.6|7.464285714|
|    19|test19@gmail.com|19-01-2019| 112.3|7.785714286|
|    20|test20@gmail.com|20-01-2019|   113|8.107142857|
+------+----------------+----------+------+-----------+
only showing top 20 rows

In [6]:
task_df.count()

902

In [7]:
task_df_before = task_df.filter(task_df.date == "null")
task_df_before.show()

+------+----------------+----+------+--------+
|userid|         emailid|date|amount|discount|
+------+----------------+----+------+--------+
|    78|test78@gmail.com|null| 258.6|   26.75|
+------+----------------+----+------+--------+

In [9]:
#1st remove null values
#Here we use a inbuild function to drop the null values 
#here we are reassigning the variable name as task so that we don't we don't have any confussion
task_df = task_df.dropna()

In [10]:
task_df.count()

901

In [11]:
task_df.show()

+------+----------------+----------+------+-----------+
|userid|         emailid|      date|amount|   discount|
+------+----------------+----------+------+-----------+
|     1| test1@gmail.com|01-01-2019|   100|        1.0|
|     2| test2@gmail.com|02-01-2019|   100|        1.0|
|     3| test3@gmail.com|03-01-2019|   101|        2.0|
|     4| test4@gmail.com|04-01-2019|   102|       10.0|
|     5| test5@gmail.com|05-01-2019| 102.5|        2.0|
|     6| test6@gmail.com|06-01-2019| 103.2|        1.0|
|     7| test7@gmail.com|07-01-2019| 103.9|        3.0|
|     8| test8@gmail.com|08-01-2019| 104.6|        5.0|
|     9| test9@gmail.com|09-01-2019| 105.3|4.571428571|
|    10|test10@gmail.com|10-01-2019|   106|4.892857143|
|    11|test11@gmail.com|11-01-2019| 106.7|5.214285714|
|    12|test12@gmail.com|12-01-2019| 107.4|5.535714286|
|    13|test13@gmail.com|13-01-2019| 108.1|5.857142857|
|    14|test14@gmail.com|14-01-2019| 108.8|6.178571429|
|    15|test15@gmail.com|15-01-2019| 109.5|        6.5|
|    16|test16@gmail.com|16-01-2019| 110.2|6.821428571|
|    17|test17@gmail.com|17-01-2019| 110.9|7.142857143|
|    18|test18@gmail.com|18-01-2019| 111.6|7.464285714|
|    19|test19@gmail.com|19-01-2019| 112.3|7.785714286|
|    20|test20@gmail.com|20-01-2019|   113|8.107142857|
+------+----------------+----------+------+-----------+
only showing top 20 rows

In [12]:
non_df = task_df.filter(task_df.userid == 'null')

In [29]:
from datetime import datetime
def func_date(str1):
  for fmt in ('%Y-%m-%d', '%d.%m.%Y', '%d/%m/%Y','%d-%m-%Y','%dd-%mm-%yyyy'):
    try:
      date_object =  datetime.strptime(str1, fmt)
      converted_date = date_object.strftime('%Y-%m-%d')
      return converted_date
    except ValueError:
      pass
  raise ValueError('no valid date format found')

In [30]:
date_udf = udf(lambda str1: func_date(str1))

In [34]:
date_change = task_df.select(col('date'),date_udf(col('date').alias("Updated_date")))

In [35]:
date_change.show()

+----------+------------------------------+
|      date|<lambda>(date AS Updated_date)|
+----------+------------------------------+
|01-01-2019|                    2019-01-01|
|02-01-2019|                    2019-01-02|
|03-01-2019|                    2019-01-03|
|04-01-2019|                    2019-01-04|
|05-01-2019|                    2019-01-05|
|06-01-2019|                    2019-01-06|
|07-01-2019|                    2019-01-07|
|08-01-2019|                    2019-01-08|
|09-01-2019|                    2019-01-09|
|10-01-2019|                    2019-01-10|
|11-01-2019|                    2019-01-11|
|12-01-2019|                    2019-01-12|
|13-01-2019|                    2019-01-13|
|14-01-2019|                    2019-01-14|
|15-01-2019|                    2019-01-15|
|16-01-2019|                    2019-01-16|
|17-01-2019|                    2019-01-17|
|18-01-2019|                    2019-01-18|
|19-01-2019|                    2019-01-19|
|20-01-2019|                    2019-01-20|
+----------+------------------------------+
only showing top 20 rows

In [39]:
pip install validate_email

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting validate_email
  Downloading validate_email-1.3.tar.gz (4.7 kB)
Building wheels for collected packages: validate-email
  Building wheel for validate-email (setup.py) ... done
  Created wheel for validate-email: filename=validate_email-1.3-py3-none-any.whl size=5482 sha256=19795248892ae255a6e97c74e2b6c6cd8c02d5aa99a08a2b8e0f8335891e726e
  Stored in directory: /root/.cache/pip/wheels/ff/8f/92/c43287715852eaa75e0d8aa1941c481072b4a82c4f4975074e
Successfully built validate-email
Installing collected packages: validate-email
Successfully installed validate-email-1.3

In [41]:
from validate_email import validate_email
is_valid = validate_email("mohan@mohan.com")

In [43]:
def email_validation(str1):
  is_valid = validate_email(str1)
  if is_valid:
    return str1
  else:
    "error"

In [44]:
email_validation_udf = udf(lambda x : email_validation(x))

In [45]:
email_correction = task_df.select(col('emailid'),email_validation_udf(col('emailid').alias('emailid_validated')))

In [46]:
email_correction.show()

+----------------+--------------------------------------+
|         emailid|<lambda>(emailid AS emailid_validated)|
+----------------+--------------------------------------+
| test1@gmail.com|                       test1@gmail.com|
| test2@gmail.com|                       test2@gmail.com|
| test3@gmail.com|                       test3@gmail.com|
| test4@gmail.com|                       test4@gmail.com|
| test5@gmail.com|                       test5@gmail.com|
| test6@gmail.com|                       test6@gmail.com|
| test7@gmail.com|                       test7@gmail.com|
| test8@gmail.com|                       test8@gmail.com|
| test9@gmail.com|                       test9@gmail.com|
|test10@gmail.com|                      test10@gmail.com|
|test11@gmail.com|                      test11@gmail.com|
|test12@gmail.com|                      test12@gmail.com|
|test13@gmail.com|                      test13@gmail.com|
|test14@gmail.com|                      test14@gmail.com|
|test15@gmail.com|                      test15@gmail.com|
|test16@gmail.com|                      test16@gmail.com|
|test17@gmail.com|                      test17@gmail.com|
|test18@gmail.com|                      test18@gmail.com|
|test19@gmail.com|                      test19@gmail.com|
|test20@gmail.com|                      test20@gmail.com|
+----------------+--------------------------------------+
only showing top 20 rows