<a href="https://colab.research.google.com/github/Mohann23/PySpark_Material_Practice/blob/master/Task_5_By_praveen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

!apt-get install openjdk-8-jdk-headless -qq > /dev/null


!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz



!tar xf spark-3.2.1-bin-hadoop3.2.tgz

!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()

findspark.find()
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
spark = SparkSession.builder.appName('Task_5').getOrCreate()

In [10]:
record = spark.read.csv('/content/drive/MyDrive/PYSpark_Files/Day_4_task_4.csv',inferSchema=True,header=True)

In [11]:
record.show()

+------+----------------+----------+------+-----------+
|userid|         emailid|      date|amount|   discount|
+------+----------------+----------+------+-----------+
|     1| test1@gmail.com|01-01-2019|   100|        1.0|
|     2| test2@gmail.com|02-01-2019|   100|        1.0|
|     3|  test3gmail.com|03-01-2019|   101|        2.0|
|     4| test4@gmail.com|04-01-2019|   102|       10.0|
|     5| test5@gmail.com|05-01-2019| 102.5|        2.0|
|     6| test6@gmail.com|06-01-2019| 103.2|        1.0|
|     7| test7@gmail.com|07-01-2019| 103.9|        3.0|
|     8|  test8@gmailcom|08-01-2019| 104.6|        5.0|
|     9| test9@gmail.com|09-01-2019| 105.3|4.571428571|
|    10|test10@gmail.com|01-10-2019|   106|4.892857143|
|    11|test11@gmail.com|  11-02-19| 106.7|5.214285714|
|    12|   test12@gmail.|12-01-2019| 107.4|5.535714286|
|    13|test13@gmail.com|2019-01-13| 108.1|5.857142857|
|    14|test14@gmail.com|14-01-2019| 108.8|6.178571429|
|    15|test15@gmail.com|15-01-2019| 109.5|        6.5|
|    16|test16@gmail.com|16-01-2019| 110.2|6.821428571|
|    17|test17@gmail.com|17-01-2019| 110.9|7.142857143|
|    18|test18@gmail.com|18-01-2019| 111.6|7.464285714|
|    19|test19@gmail.com|19-01-2019| 112.3|7.785714286|
|    20|test20@gmail.com|20-01-2019|   113|8.107142857|
+------+----------------+----------+------+-----------+
only showing top 20 rows

In [12]:
from datetime import datetime
def func_date(str1):
  for fmt in ('%Y-%m-%d', '%d.%m.%Y', '%d/%m/%Y','%d-%m-%Y','%dd-%mm-%yyyy','%d-%b-%Y','%d-%B-%Y','%y-%m-%d','%d %b %Y','%d %B %Y'):
    try:
      date_object =  datetime.strptime(str1, fmt)
      converted_date = date_object.strftime('%Y-%m-%d')
      return converted_date
    except ValueError:
      pass
  raise ValueError('no valid date format found')

In [13]:
date_udf = udf(lambda str1: func_date(str1))

In [14]:
date_change = record.select(col('date'),date_udf(col('date').alias("Updated_date")))

In [15]:
date_change.show()

+----------+------------------------------+
|      date|<lambda>(date AS Updated_date)|
+----------+------------------------------+
|01-01-2019|                    2019-01-01|
|02-01-2019|                    2019-01-02|
|03-01-2019|                    2019-01-03|
|04-01-2019|                    2019-01-04|
|05-01-2019|                    2019-01-05|
|06-01-2019|                    2019-01-06|
|07-01-2019|                    2019-01-07|
|08-01-2019|                    2019-01-08|
|09-01-2019|                    2019-01-09|
|01-10-2019|                    2019-10-01|
|  11-02-19|                    2011-02-19|
|12-01-2019|                    2019-01-12|
|2019-01-13|                    2019-01-13|
|14-01-2019|                    2019-01-14|
|15-01-2019|                    2019-01-15|
|16-01-2019|                    2019-01-16|
|17-01-2019|                    2019-01-17|
|18-01-2019|                    2019-01-18|
|19-01-2019|                    2019-01-19|
|20-01-2019|                    2019-01-20|
+----------+------------------------------+
only showing top 20 rows