<a href="https://colab.research.google.com/github/Mohann23/PySpark_Material_Practice/blob/master/Task_3_by_praveen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

!apt-get install openjdk-8-jdk-headless -qq > /dev/null


!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz



!tar xf spark-3.2.1-bin-hadoop3.2.tgz

!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()

findspark.find()
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

Mounted at /content/drive

In [ ]:
spark = SparkSession.builder.appName('Day_3_task').getOrCreate()

In [ ]:
task_df = spark.read.csv('/content/drive/MyDrive/PYSpark_Files/Day_3_task_3_File.csv', inferSchema = True, header = True)

In [ ]:
task_df.show()

+------+----------------+----------+------+-----------+
|userid|         emailid|      date|amount|   discount|
+------+----------------+----------+------+-----------+
|     1| test1@gmail.com|01-01-2019|   100|        1.0|
|     2| test2@gmail.com|02-01-2019|   100|        1.0|
|     3| test3@gmail.com|03-01-2019|   101|        2.0|
|     4| test4@gmail.com|04-01-2019|   102|       10.0|
|     5| test5@gmail.com|05-01-2019| 102.5|        2.0|
|     6| test6@gmail.com|06-01-2019| 103.2|        1.0|
|     7| test7@gmail.com|07-01-2019| 103.9|        3.0|
|     8| test8@gmail.com|08-01-2019| 104.6|        5.0|
|     9| test9@gmail.com|09-01-2019| 105.3|4.571428571|
|    10|test10@gmail.com|10-01-2019|   106|4.892857143|
|    11|test11@gmail.com|11-01-2019| 106.7|5.214285714|
|    12|test12@gmail.com|12-01-2019| 107.4|5.535714286|
|    13|test13@gmail.com|13-01-2019| 108.1|5.857142857|
|    14|test14@gmail.com|14-01-2019| 108.8|6.178571429|
|    15|test15@gmail.com|15-01-2019| 109.5|        6.5|
|    16|test16@gmail.com|16-01-2019| 110.2|6.821428571|
|    17|test17@gmail.com|17-01-2019| 110.9|7.142857143|
|    18|test18@gmail.com|18-01-2019| 111.6|7.464285714|
|    19|test19@gmail.com|19-01-2019| 112.3|7.785714286|
|    20|test20@gmail.com|20-01-2019|   113|8.107142857|
+------+----------------+----------+------+-----------+
only showing top 20 rows

In [ ]:
task_df.count()

902

In [ ]:
task_df_before = task_df.filter(task_df.date == "null")
task_df_before.show()

+------+----------------+----+------+--------+
|userid|         emailid|date|amount|discount|
+------+----------------+----+------+--------+
|    78|test78@gmail.com|null| 258.6|   26.75|
+------+----------------+----+------+--------+

In [ ]:
#1st remove null values
#Here we use a inbuild function to drop the null values 
#here we are reassigning the variable name as task so that we don't we don't have any confussion
task_df = task_df.dropna()

In [ ]:
task_df.count()

901

In [ ]:
task_df.show()

+------+----------------+----------+------+-----------+
|userid|         emailid|      date|amount|   discount|
+------+----------------+----------+------+-----------+
|     1| test1@gmail.com|01-01-2019|   100|        1.0|
|     2| test2@gmail.com|02-01-2019|   100|        1.0|
|     3| test3@gmail.com|03-01-2019|   101|        2.0|
|     4| test4@gmail.com|04-01-2019|   102|       10.0|
|     5| test5@gmail.com|05-01-2019| 102.5|        2.0|
|     6| test6@gmail.com|06-01-2019| 103.2|        1.0|
|     7| test7@gmail.com|07-01-2019| 103.9|        3.0|
|     8| test8@gmail.com|08-01-2019| 104.6|        5.0|
|     9| test9@gmail.com|09-01-2019| 105.3|4.571428571|
|    10|test10@gmail.com|10-01-2019|   106|4.892857143|
|    11|test11@gmail.com|11-01-2019| 106.7|5.214285714|
|    12|test12@gmail.com|12-01-2019| 107.4|5.535714286|
|    13|test13@gmail.com|13-01-2019| 108.1|5.857142857|
|    14|test14@gmail.com|14-01-2019| 108.8|6.178571429|
|    15|test15@gmail.com|15-01-2019| 109.5|        6.5|
|    16|test16@gmail.com|16-01-2019| 110.2|6.821428571|
|    17|test17@gmail.com|17-01-2019| 110.9|7.142857143|
|    18|test18@gmail.com|18-01-2019| 111.6|7.464285714|
|    19|test19@gmail.com|19-01-2019| 112.3|7.785714286|
|    20|test20@gmail.com|20-01-2019|   113|8.107142857|
+------+----------------+----------+------+-----------+
only showing top 20 rows

In [ ]:
non_df = task_df.filter(task_df.userid == 'null')

In [ ]:
from datetime import datetime
def func_date(str1):
  for fmt in ('%Y-%m-%d', '%d.%m.%Y', '%d/%m/%Y','%d-%m-%Y','%dd-%mm-%yyyy','%d-%b-%Y','%d-%B-%Y'):
    try:
      date_object =  datetime.strptime(str1, fmt)
      converted_date = date_object.strftime('%Y-%m-%d')
      return converted_date
    except ValueError:
      pass
  raise ValueError('no valid date format found')

Directive or format code 	Returned Valued	Example
%Y	Full year with century	2021,2022
%y	Year without century with zero padded value	00,01,….21,22…,99
%-y	Year without century	0,1…,99
%m	Month with zero padded value	01-12
%-m	Month without zero padded value	1-12
%B	Full month name	January, February,…, December
%b	Short form of month 	Jan, Feb,…,Dec
%A	Full weekday name	Sunday, Monday,..
%a	Short form of weekday name	Sun, Mon,..
%w	Weekday as decimal value	0-6
%d	Days with zero padded value	01-31
%-d	Days with decimal value	1-31
%H	Hour (24-hour clock) as a zero-padded value.	00-23
%-H	Hour (24-hour clock) without zero-padded value.	0,1,…,23
%I	Hour (12-hour clock) as a zero-padded value.	01-12
%-I	Hour (12-hour clock) without zero-padded value.	1-12
%M	Mins with zero-padded 	00-59
%-M	Mins without zero padded value	0-59
%S	Secs with zero padded value	00-59
%-S	Secs without zero padded value	0-59
%f	Micro Secs with zero-padded value	000000 – 999999
%p	Locale’s AM or PM.	AM/PM
%j	Day of the year with zero padded value	001-366
%-j	Day of the year without zero padded value	1-366
%z	UTC offset in the form +HHMM or -HHMM.	 
%Z	Time zone name.	 
%C	Locale’s appropriate date and time	Fri Apr 02 02:09:07 2020
%x	Locale’s appropriate date	02/04/22
%X	Locale’s appropriate time	02:04:22
%W	Week number of the year. Monday as first day of week	00-53
%U	Week number of the year. Sunday as first day of week	00-53

In [ ]:
date_udf = udf(lambda str1: func_date(str1))

In [ ]:
date_change = task_df.select(col('date'),date_udf(col('date').alias("Updated_date")))

In [ ]:
date_change.show()

+----------+------------------------------+
|      date|<lambda>(date AS Updated_date)|
+----------+------------------------------+
|01-01-2019|                    2019-01-01|
|02-01-2019|                    2019-01-02|
|03-01-2019|                    2019-01-03|
|04-01-2019|                    2019-01-04|
|05-01-2019|                    2019-01-05|
|06-01-2019|                    2019-01-06|
|07-01-2019|                    2019-01-07|
|08-01-2019|                    2019-01-08|
|09-01-2019|                    2019-01-09|
|10-01-2019|                    2019-01-10|
|11-01-2019|                    2019-01-11|
|12-01-2019|                    2019-01-12|
|13-01-2019|                    2019-01-13|
|14-01-2019|                    2019-01-14|
|15-01-2019|                    2019-01-15|
|16-01-2019|                    2019-01-16|
|17-01-2019|                    2019-01-17|
|18-01-2019|                    2019-01-18|
|19-01-2019|                    2019-01-19|
|20-01-2019|                    2019-01-20|
+----------+------------------------------+
only showing top 20 rows

In [ ]:
pip install validate_email

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting validate_email
  Downloading validate_email-1.3.tar.gz (4.7 kB)
Building wheels for collected packages: validate-email
  Building wheel for validate-email (setup.py) ... done
  Created wheel for validate-email: filename=validate_email-1.3-py3-none-any.whl size=5482 sha256=faf3678f7de8e9e9ab01adfb85e678b26f4fcaf3207b48e3007d06978827674e
  Stored in directory: /root/.cache/pip/wheels/ff/8f/92/c43287715852eaa75e0d8aa1941c481072b4a82c4f4975074e
Successfully built validate-email
Installing collected packages: validate-email
Successfully installed validate-email-1.3

In [ ]:
from validate_email import validate_email
is_valid = validate_email("mohan@mohan.com")

In [ ]:
def email_validation(str1):
  is_valid = validate_email(str1)
  if is_valid:
    return str1
  else:
    "error"

In [ ]:
email_validation_udf = udf(lambda x : email_validation(x))

In [ ]:
email_correction = task_df.select(col('emailid'),email_validation_udf(col('emailid').alias('emailid_validated')))

In [ ]:
email_correction.show()

+----------------+--------------------------------------+
|         emailid|<lambda>(emailid AS emailid_validated)|
+----------------+--------------------------------------+
| test1@gmail.com|                       test1@gmail.com|
| test2@gmail.com|                       test2@gmail.com|
| test3@gmail.com|                       test3@gmail.com|
| test4@gmail.com|                       test4@gmail.com|
| test5@gmail.com|                       test5@gmail.com|
| test6@gmail.com|                       test6@gmail.com|
| test7@gmail.com|                       test7@gmail.com|
| test8@gmail.com|                       test8@gmail.com|
| test9@gmail.com|                       test9@gmail.com|
|test10@gmail.com|                      test10@gmail.com|
|test11@gmail.com|                      test11@gmail.com|
|test12@gmail.com|                      test12@gmail.com|
|test13@gmail.com|                      test13@gmail.com|
|test14@gmail.com|                      test14@gmail.com|
|test15@gmail.com|                      test15@gmail.com|
|test16@gmail.com|                      test16@gmail.com|
|test17@gmail.com|                      test17@gmail.com|
|test18@gmail.com|                      test18@gmail.com|
|test19@gmail.com|                      test19@gmail.com|
|test20@gmail.com|                      test20@gmail.com|
+----------------+--------------------------------------+
only showing top 20 rows

In [ ]:
task_df.count()

901

In [ ]:
task_df = task_df.dropDuplicates()

In [ ]:
task_df.count()

900